@charset "UTF-8";
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap") format("woff2");
}
@font-face {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap") format("woff2");
}
@keyframes on-hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.add-task-button, .header-button {
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 200%;
  font-weight: 700;
  color: #470068;
  text-align: center;
  border-radius: 20px;
  border: transparent;
  background: #BFA0FF;
}

html {
  background: #D4BFFF;
  font-family: "Inter-ExtraBold", sans-serif;
  font-weight: 700;
  color: #470068;
}

.visually-hidden {
  visibility: hidden;
}

.page-header {
  width: 90%;
  min-width: 400px;
  height: 70px;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  height: 80%;
  width: 15%;
  min-width: 200px;
  box-shadow: 0 1px 3px #470068;
}

.header-button:hover {
  animation: on-hover 0.2s forwards;
  cursor: pointer;
}

.header-logo {
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 400%;
  font-weight: 700;
  color: #470068;
  text-align: center;
  height: 100%;
  font-weight: 900;
  min-width: 450px;
  text-align: center;
  text-decoration: none;
}

.header-logo:hover {
  cursor: pointer;
}

.register-label {
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 200%;
  font-weight: 700;
  color: #470068;
  text-align: center;
  margin: 30px auto 0 auto;
}
.register-label div {
  font-size: 100%;
  margin: 20px auto 0 auto;
}

.page-img {
  width: 90%;
  min-width: 400px;
  height: 50px;
  margin: 30px auto 0 auto;
  display: block;
  min-width: 900px;
}

.page-filters {
  width: 90%;
  min-width: 400px;
  height: 50px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: space-between;
  min-width: 900px;
}

.task-filter-active, .task-filter {
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 200%;
  font-weight: 700;
  color: #470068;
  text-align: center;
  width: 25%;
  height: 100%;
  display: block;
  background: #F4EEFF;
  border-radius: 30px;
  border: transparent;
}

.task-filter {
  box-shadow: 0 2px 3px #470068;
}

.task-filter:hover {
  animation: on-hover 0.2s forwards;
  cursor: pointer;
}

.task-filter-active {
  box-shadow: 0 2px 6px #470068 inset;
}

.task-list {
  width: 40%;
  min-width: 400px;
  margin: 60px auto 0 auto;
}

.task-done, .task {
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 400%;
  font-weight: 700;
  color: #470068;
  text-align: center;
  display: flex;
  border-radius: 30px;
  margin-top: 30px;
  width: auto;
  height: 80px;
  justify-content: space-between;
}
.task-done div.custom-check-box, .task div.custom-check-box {
  min-width: 40px;
  min-height: 40px;
  border-radius: 10px;
  border: 2px solid #470068;
  margin: 0 20px 0 20px;
  align-self: center;
  background: #F4EEFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-done div.custom-check-box div.custom-check-box-input, .task div.custom-check-box div.custom-check-box-input {
  display: none;
}
.task-done div.custom-check-box div.custom-check-box-input-active, .task div.custom-check-box div.custom-check-box-input-active {
  width: 20px;
  height: 20px;
  background: #470068;
  border-radius: 5px;
}
.task-done span, .task span {
  word-wrap: break-word;
  overflow-x: hidden;
  font-size: 0.6em;
  text-align: center;
  vertical-align: middle;
  align-self: center;
  width: 100%;
}
.task-done div.close-button, .task div.close-button {
  width: 50px;
  height: 40px;
  margin-left: 20px;
  display: block;
  background: #470068;
  border-radius: 10px;
}
.task-done div.close-button::before, .task div.close-button::before {
  position: relative;
  top: -17px;
  color: #F4EEFF;
  display: inline-block;
  margin-top: -20px;
  content: "×";
}
.task-done div.close-button:hover, .task div.close-button:hover {
  animation: on-hover 0.2s forwards;
  cursor: pointer;
}

.task {
  background: #BFA0FF;
}

.task-done {
  background: #F4EEFF;
}
.task-done span {
  color: #BFA0FF;
  text-decoration: line-through;
  text-decoration-color: #BFA0FF;
}

.add-task-popup {
  margin-top: 40px;
  width: 30%;
  height: 20%;
  min-width: 300px;
  min-height: 250px;
  background: #BFA0FF;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 35%;
  border-radius: 30px;
  box-shadow: 0 2px 6px #470068;
  z-index: 5;
}

.task-input {
  font-size: 3em;
  resize: none;
  border-radius: 10px;
  width: 85%;
  height: 20%;
  margin: 15px auto 0 auto;
}

.letters-counter {
  margin: 10px auto 0 auto;
}

.task-input:focus {
  outline: 2px solid #470068;
}

.add-task-button {
  width: 50%;
  min-width: 200px;
  height: 5%;
  min-height: 50px;
  margin: 20px auto 0 auto;
  background: #F4EEFF;
  box-shadow: 0 1px 3px #470068;
}

.add-task-button:hover {
  animation: on-hover 0.2s forwards;
  cursor: pointer;
}

.popup-close {
  align-self: end;
  width: 40px;
  height: 40px;
  background: #470068;
  border-radius: 10px;
}

.popup-close::before {
  left: 5px;
  top: -7px;
  font-size: 50px;
  content: "×";
  position: relative;
  color: #F4EEFF;
  display: inline-block;
}

.popup-close:hover {
  animation: on-hover 0.2s forwards;
  cursor: pointer;
}

.login-form {
  width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 30px auto 0 auto;
  align-items: center;
  border: 5px solid #470068;
  border-radius: 20px;
  padding: 10px 0 20px 0;
  box-shadow: 0 1px 5px #470068;
}

.login-input {
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 150%;
  font-weight: 700;
  color: #470068;
  text-align: center;
  width: 80%;
  min-width: 200px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #470068;
  background: #F4EEFF;
}

.login-input:focus {
  outline: 2px solid #470068;
}

.login-label {
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 200%;
  font-weight: 700;
  color: #470068;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
